header
    #head.content.clearfix
        h1.fl hby个人博客
        ul.top-nav.fl
            li
                a(href="/") 首页
            li
                a(href="/web.html") 前端
            li
                a(href="/") Java
            li
                a(href="/aboutme.html") 关于我
            li
                a(href="/") 留言
        //- 用户登录按钮
        ul.bloguser.fr

          if session && !session.isNew
            li.layui-nav-item
              a(href=session.role > 1 ? "/admin/user": "/admin/article") 个人中心
                //- span.layui-badge-dot
            li.layui-nav-item.show-father
              a(href="")
                //- 用户测试头像
                img(src=session.avatar).layui-nav-img
                span= session.username
              dl.show-child
                dd
                  a(href="/user/logout") 退了
          else
            li.layui-nav-item
              a(href="/user/login") 登入
            li.layui-nav-item
              a(href="/user/reg") 注册