.main-nav
    .content
        ul
            li
                a html
            li
                a javascript
            li
                a h5
            li
                a node.js
            li
                a vue
            li
                a 小程序
        button.layui-btn
            a(href="/artical") 发表文章